.hero {
    text-align: center;
    padding-top: 34px;
}

@media (max-width: 541px) {
    .hero__title {
        font-size: 40px;
        line-height: 44px;
    }

    .hero__description {
        margin: 16px auto 0;
        font-size: 16px;
        line-height: 20px;
    }

    .hero__image {
        margin-top: 40px;
    }

    .hero__image-description {
        padding: 0 16px;
    }
}