.footer {
    width: 100%;
    background-color: var(--main);
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 92px 48px 24px;
}

.footer__list {
    display: flex;
}

.footer__item:not(:first-child) {
    margin-left: 18px;
}

.footer__link {
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    transition: 0.4s ease;
}

.footer__link:hover {
    opacity: 0.8;
}

.footer__copyright {
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
}

@media (max-width: 769px) {
    .footer__container {
        padding: 88px 24px 24px;
    }
}

@media (max-width: 541px) {
    .footer__container {
        display: block;
        padding: 46px 16px 24px;
    }

    .footer__list {
        display: block;
    }

    .footer__item:not(:first-child) {
        margin-top: 32px;
        margin-left: 0;
    }

    .footer__link {
        font-size: 24px;
        line-height: 1;
    }

    .footer__copyright {
        margin-top: 48px;
        font-size: 14px;
        line-height: 16px;
    }
}