.not-see {
    margin-top: 92px;
}

@media (max-width: 1025px) {
    .not-see {
        margin-top: 100px;
    }
}

@media (max-width: 769px) {
    .not-see {
        margin-top: 95px;
    }
}

@media (max-width: 541px) {
    .not-see {
        margin-top: 64px;
    }
}