/* Set core body defaults */
.page {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;

    font-family: var(--font-stack, Arial);
    line-height: 1.5;

    -webkit-font-smoothing: antialiased;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul,
ol,
button {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration: none;
}

/* Make images easier to work with */
img {
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}
